@{
    Layout = null;
    ViewBag.Title = "ExtSiteCSSIndex";
}
<!DOCTYPE html>
<html>
<head>
    <title>ExtSiteCSSIndex</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>
    <h2>ExtSiteCSSIndex</h2>

    <div class="ui-widget-content">
        .ui-widget-content on jquery-ui.css from google cdn <br />
        if loaded collectly, this 'div' has  gray border.
    </div>

</body>
</html>
