/* for Web Apps by Windows Server 2016 */
.printFontYoGothicBold {
    font-family: "Yu Gothic",Sans-Serif;
    font-weight: bold;
}

.printFontYoGothicMeduim {
    font-family: "Yu Gothic",Sans-Serif;
    font-weight: 500;
}

.printFontYoGothicRegular {
    font-family: "Yu Gothic",Sans-Serif;
    font-weight: 400;
}

.printFontYoGothicLight {
    font-family: "Yu Gothic",Sans-Serif;
    font-weight: 300;
}


/* -- */
.printFontPGothicBold {
    font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-weight: 700;
}
.printFontPGothicRegular {
    font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-weight: 400;
}
.printFontGothicBold {
    font-family: "ＭＳ ゴシック","MS Gothic",Sans-Serif;
    font-weight: 700;
}
.printFontGothicRegular {
    font-family: "ＭＳ ゴシック","MS Gothic",Sans-Serif;
    font-weight: 400;
}
.printFontPMinchoBold {
    font-family: "ＭＳ Ｐ明朝","MS PMincho",Selif;
    font-weight: 700;
}
.printFontPMinchoRegular {
    font-family: "ＭＳ Ｐ明朝","MS PMincho",Selif;
    font-weight: 400;
}
.printFontMinchoBold {
    font-family: "ＭＳ 明朝","MS Mincho",Selif;
    font-weight: 700;
}
.printFontMinchoRegular {
    font-family: "ＭＳ 明朝","MS Mincho",Selif;
    font-weight: 400;
}
