@{
    ViewBag.Title = "Index";
}

<h2>InSiteCSSIndex</h2>
<div id="cssRevealedContent">
    <p>Hi guys, this content shows up thanks to css file.</p>

</div>

<hr class="hr-color-blue" />
<hr class="hr-color-red" />

